strict_env

if has devbox
then
    unstrict_env # seems to be required for devbox :(
    eval "$(devbox generate direnv --print-envrc)"
    # check out <https://www.jetpack.io/devbox/docs/ide_configuration/direnv>
    # for more details

    # Regarding shell-completion for zsh: This is not so easy to do here due to the way, direnv
    # works. Let's revisit this, when <https://github.com/direnv/direnv/issues/443> has been solved.
    echo -e \
         '🪧 For shell-completion within zsh, please execute:' "\n" \
         "\t" 'fpath=("${DEVBOX_PACKAGES_DIR}/share/zsh/site-functions" ${fpath})' "\n" \
         "\t" 'compinit'
fi

local bbl_state_dir=${BBL_STATE_PATH:-'../app-autoscaler-env-bbl-state/bbl-state'}
source './ci/autoscaler/scripts/common.sh'
bosh_login "${bbl_state_dir}"
echo '🚸 Login for bosh and concourse successful! For more execute: `make cf-login`'

export DBURL='postgres://postgres:postgres@localhost/autoscaler'
