strict_env

# Prefers devbox over nix, as nix is a prerequisite for devbox
if has devbox
then
    unstrict_env # seems to be required for devbox :(
    eval "$(devbox generate direnv --print-envrc)"
    # check out https://www.jetpack.io/devbox/docs/ide_configuration/direnv/
    # for more details
else
    if has nix
    then
        unset GOPATH # Required for editors to discover the go-tools in the flake.
        use flake
        layout ruby
    fi
fi

local bbl_state_dir=../app-autoscaler-env-bbl-state/bbl-state
if has bbl && [[ -d "$bbl_state_dir" ]]
then
    eval "$(bbl print-env --state-dir "$bbl_state_dir")"
fi

export DBURL="postgres://postgres:postgres@localhost/autoscaler"
