config/dev.yml
config/private.yml
releases/*.tgz
releases/**/*.tgz
/src/binaries/jdk/
dev_releases
.blobs
blobs
.dev_builds
.final_builds/jobs/**/*.tgz
.final_builds/packages/**/*.tgz
*.swp
src/changeloglockcleaner/vendor
**/coverprofile.out
**/ginkgo.report
**/coverprofile.out.*
**/pom.xml.versionsBackup
bosh-lite/deployments/*
/RemoteSystemsTempFiles
/.metadata
/pkg/
/bin/
/.recommenders
target
/app-autoscaler-release/
test-certs
src/scheduler/src/test/resources/certs/
*.coverprofile
src/autoscaler/build
src/autoscaler/vendor
workflow
**/*.test
.cache
scripts/.srl
privkey.pem
app-autoscaler-release
docs/*.bkp
build/*
acceptance_config.json

# Generated, intermediate openapi-specs:
src/acceptance/assets/app/go_app/internal/openapi-specs.bundled

# Generated api-clients:
src/acceptance/assets/app/go_app/internal/applicationmetric/oas*gen.go
src/acceptance/assets/app/go_app/internal/custommetrics/oas*gen.go
src/acceptance/assets/app/go_app/internal/policy/oas*gen.go
src/autoscaler/api/apis/scalinghistory/oas*gen.go
src/autoscaler/scalingengine/apis/scalinghistory/oas*gen.go

# https://go.dev/ref/mod#go-work-file
go.work*

# acceptance-test binaries
src/acceptance/**/*.test
src/acceptance/**/ginkgo_v2_*

# ignore ssh keys that are being used during release creation to sign the commits
keys/

# Plugins that the editor needs to work well with the code within this
# repository. Recommended, to put it under version-control for
# easy sharing, see:
# <https://code.visualstudio.com/docs/editor/extension-marketplace#_workspace-recommended-extensions>
!.vscode/extensions.json


# ==================== 📦 Devbox ====================
.devbox

# ==================== ❄ Nix ====================

# Ignore links to  build-output:
/result
/result-*

.direnv
