## SCHEDULER - Enable cf Server to receive calls from api running on cf --
- type: replace
  path: /instance_groups/name=scheduler/jobs/name=scheduler/properties/autoscaler/scheduler/cf_server?/xfcc?/valid_org_guid?
  value: ((!autoscaler_cf_server_xfcc_valid_org_guid))

- type: replace
  path: /instance_groups/name=scheduler/jobs/name=scheduler/properties/autoscaler/scheduler/cf_server?/xfcc?/valid_space_guid?
  value: ((!autoscaler_cf_server_xfcc_valid_space_guid))

- type: replace
  path: /instance_groups/name=scheduler/jobs/name=scheduler/properties/autoscaler/scheduler/http?/port?
  value: 6105

- type: replace
  path: /instance_groups/name=scheduler/jobs/name=route_registrar/properties/route_registrar/routes/-
  value:
    name: ((deployment_name))-cf-scheduler
    registration_interval: 20s
    port: 6105
    tags:
      component: autoscaler_cf_scheduler
    uris:
      - ((deployment_name))-cf-scheduler.((system_domain))

## SCALINGENGINE - Enable cf Server to receive calls from api running on cf --
- type: replace
  path: /instance_groups/name=scalingengine/jobs/name=scalingengine/properties/autoscaler/scalingengine/cf_server?/xfcc?/valid_org_guid?
  value: ((!autoscaler_cf_server_xfcc_valid_org_guid))

- type: replace
  path: /instance_groups/name=scalingengine/jobs/name=scalingengine/properties/autoscaler/scalingengine/cf_server?/xfcc?/valid_space_guid?
  value: ((!autoscaler_cf_server_xfcc_valid_space_guid)) # variable in bosh

- type: replace
  path: /instance_groups/name=scalingengine/jobs/name=scalingengine/properties/autoscaler/scalingengine/cf_server?/port?
  value: 6205

- type: replace
  path: /instance_groups/name=scalingengine/jobs/name=route_registrar/properties/route_registrar/routes/-
  value:
    name: ((deployment_name))-cf-scalingengine
    registration_interval: 20s
    port: 6205
    tags:
      component: autoscaler_cf_scalingengine
    uris:
      - ((deployment_name))-cf-scalingengine.((system_domain))

# EVENTGENERATOR - Enable cf Server to receive calls from api running on cf
- type: replace
  path: /instance_groups/name=eventgenerator/jobs/name=eventgenerator/properties/autoscaler/eventgenerator/cf_server?/xfcc?/valid_org_guid?
  value: ((!autoscaler_cf_server_xfcc_valid_org_guid))

- type: replace
  path: /instance_groups/name=eventgenerator/jobs/name=eventgenerator/properties/autoscaler/eventgenerator/cf_server?/xfcc?/valid_space_guid?
  value: ((!autoscaler_cf_server_xfcc_valid_space_guid))

- type: replace
  path: /instance_groups/name=eventgenerator/jobs/name=eventgenerator/properties/autoscaler/eventgenerator/cf_server?/port?
  value: 8080

- type: replace
  path: /instance_groups/name=eventgenerator/jobs/name=route_registrar/properties/route_registrar/routes/-
  value:
    name: ((deployment_name))-cf-eventgenerator
    registration_interval: 20s
    port: 8080
    tags:
      component: autoscaler_cf_eventgenerator
    uris:
      - ((deployment_name))-cf-eventgenerator.((system_domain))
