management:
    endpoints:
        enabled: false
spring:
    application:
        name: scheduler
    mvc:
        pathmatch:
            matching-strategy: ant-path-matcher
        servlet:
            load-on-startup: 1
    aop:
        auto: false
    data:
        jpa:
            repositories:
                enabled: false
    main:
        allow-bean-definition-overriding: true
    ############################################################
    #    DataSources
    ############################################################
    datasource:
        driverClassName: org.postgresql.Driver
        password: "postgres"
        url: jdbc:postgresql://${DB_HOST}/autoscaler
        username: "postgres"
    policy-db-datasource:
        driverClassName: org.postgresql.Driver
        password: "postgres"
        url: jdbc:postgresql://${DB_HOST}/autoscaler
        username: "postgres"

    ############################################################
    #    Quartz Properties
    ############################################################
    quartz:
        properties:
            org:
                quartz:
                    jobStore:
                        driverDelegateClass: org.quartz.impl.jdbcjobstore.PostgreSQLDelegate
                        isClustered: true
                        misfireThreshold: 120000
                    scheduler:
                        instanceId: scheduler-12345
                        instanceName: app-autoscaler
                    threadPool:
                        threadCount: 10
    ############################################################
    #    SSL Bundles
    ############################################################
    ssl:
        bundle:
            jks:
                server:
                    key:
                        alias: "test-scheduler"
                    keystore:
                        location: "src/test/resources/certs/test-scheduler.p12"
                        password: "123456"
                    truststore:
                        location: "src/test/resources/certs/test.truststore"
                        password: "123456"

############################################################
#    Logging
############################################################
logging:
    level:
        org:
            cloudfoundry:
                autoscaler:
                    scheduler: info
            hibernate: error
            hibernate.SQL: warn
            hibernate.cache: error
            hibernate.hql.ast.AST: error
            hibernate.jdbc: warn
            hibernate.pretty: error
            hibernate.tool.hbm2ddl: error
            hibernate.transaction: warn
            hibernate.type: error
            quartz: info
            springframework:
                web: info
############################################################
#    Client SSL keys
############################################################
client:
    httpClientTimeout: 5
############################################################
#    Scalingengine
############################################################
autoscaler:
    scalingengine:
      url: http://localhost:8091
      basic_auth:
        username: scalingengine
        password: scalingengine-password
scalingengine:
    notification:
        reschedule:
            maxcount: 2
scalingenginejob:
    reschedule:
        interval:
            millisecond: 100
        maxcount: 5
############################################################
#    Scheduler Health Server
############################################################
scheduler:
    healthserver:
        password: "test-password"
        port: 8081
        unprotectedEndpoints: /health/prometheus,/health/liveness
        username: "test-user"
############################################################
#    Server SSL keys
############################################################

server:
    ssl:
        ciphers: TLS_ECDHE_RSA_WITH_AES_256_GCM_SHA384,TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256
        enabled-protocols: TLSv1.3
        bundle: "server"
        client-auth: NEED


