management:
    endpoints:
        enabled: false
spring:
    application:
        name: scheduler
    mvc:
        pathmatch:
            matching-strategy: ant-path-matcher
        servlet:
            load-on-startup: 1
    aop:
        auto: false
    data:
        jpa:
            repositories:
                enabled: false
    main:
        allow-bean-definition-overriding: true
    ############################################################
    #    DataSources
    ############################################################
    datasource:
        driverClassName: org.postgresql.Driver
        password: "postgres"
        url: jdbc:postgresql://${DB_HOST}/autoscaler
        username: "postgres"
    policy-db-datasource:
        driverClassName: org.postgresql.Driver
        password: "postgres"
        url: jdbc:postgresql://${DB_HOST}/autoscaler
        username: "postgres"

    ############################################################
    #    Quartz Properties
    ############################################################
    quartz:
        properties:
            org:
                quartz:
                    jobStore:
                        driverDelegateClass: org.quartz.impl.jdbcjobstore.PostgreSQLDelegate
                        isClustered: true
                        misfireThreshold: 120000
                    scheduler:
                        instanceId: scheduler-12345
                        instanceName: app-autoscaler
                    threadPool:
                        threadCount: 10
############################################################
#    Logging
############################################################
logging:
    level:
        org:
            cloudfoundry:
                autoscaler:
                    scheduler: info
            hibernate: error
            hibernate.SQL: warn
            hibernate.cache: error
            hibernate.hql.ast.AST: error
            hibernate.jdbc: warn
            hibernate.pretty: error
            hibernate.tool.hbm2ddl: error
            hibernate.transaction: warn
            hibernate.type: error
            quartz: info
            springframework:
                web: info
############################################################
#    Client SSL keys
############################################################
client:
    httpClientTimeout: 5
    ssl:
        key-store: src/test/resources/certs/test-scheduler.p12
        key-store-password: 123456
        key-store-type: PKCS12
        protocol: TLSv1.2
        trust-store: src/test/resources/certs/test.truststore
        trust-store-password: 123456
############################################################
#    Scalingengine
############################################################
autoscaler:
    scalingengine:
        url: https://localhost:8091
scalingengine:
    notification:
        reschedule:
            maxcount: 2
scalingenginejob:
    reschedule:
        interval:
            millisecond: 100
        maxcount: 5
############################################################
#    Scheduler Health Server
############################################################
scheduler:
    healthserver:
        password: "test-password"
        port: 8081
        unprotectedEndpoints: /health/prometheus,/health/liveness
        username: "test-user"
############################################################
#    Server SSL keys
############################################################
server:
    ssl:
        ciphers: TLS_RSA_WITH_AES_256_GCM_SHA384,TLS_RSA_WITH_AES_256_CBC_SHA256,TLS_RSA_WITH_AES_256_CBC_SHA,TLS_RSA_WITH_AES_128_GCM_SHA256,TLS_RSA_WITH_AES_128_CBC_SHA256,TLS_RSA_WITH_AES_128_CBC_SHA,TLS_RSA_WITH_3DES_EDE_CBC_SHA,TLS_ECDHE_RSA_WITH_RC4_128_SHA,TLS_ECDHE_RSA_WITH_CHACHA20_POLY1305,TLS_ECDHE_RSA_WITH_AES_256_GCM_SHA384,TLS_ECDHE_RSA_WITH_AES_256_CBC_SHA384,TLS_ECDHE_RSA_WITH_AES_256_CBC_SHA,TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256,TLS_ECDHE_RSA_WITH_AES_128_CBC_SHA256,TLS_ECDHE_RSA_WITH_AES_128_CBC_SHA,TLS_ECDHE_RSA_WITH_3DES_EDE_CBC_SHA,TLS_ECDHE_ECDSA_WITH_CHACHA20_POLY1305,TLS_ECDHE_ECDSA_WITH_AES_256_GCM_SHA384,TLS_ECDHE_ECDSA_WITH_AES_256_CBC_SHA,TLS_ECDHE_ECDSA_WITH_AES_128_GCM_SHA256,TLS_ECDHE_ECDSA_WITH_AES_128_CBC_SHA256,TLS_ECDHE_ECDSA_WITH_AES_128_CBC_SHA,SSL_RSA_WITH_RC4_128_SHA
        enabled-protocols: TLSv1,TLSv1.1,TLSv1.2
        key-alias: test-scheduler
        key-store: src/test/resources/certs/test-scheduler.p12
        key-store-password: 123456
        key-store-type: PKCS12
        trust-store: src/test/resources/certs/test.truststore
        trust-store-password: 123456

