---
platform: linux

params:
  TARGETS:
  BBL_STATE_PATH: ../../../../bbl-state/bbl-state

inputs:
- name: app-autoscaler-release
- name: ci
- name: bbl-state

outputs:
- name: app-autoscaler-release

run:
  path: ci/ci/autoscaler/tasks/make/make.sh
  args: [ app-autoscaler-release ]
