---
platform: linux

image_resource:
  type: registry-image
  source:
    repository: ghcr.io/cloudfoundry/app-autoscaler-release-tools
    tag: main

params:
  SLACK_WEBHOOK:

inputs:
- name: bbl-state
- name: ci
- name: postgres-release
- name: postgres-repo

run:
  path: ci/infrastructure/scripts/deploy-postgres.sh
