# This ops file is used to change the deployment ID of the bosh deployment to enable multiple deployments
# with different dns names (independent name spaces)
# Parameters:
# deployment_name: Unique deployment name.
# Anchors here is to make the ops files simpler using anchors for replacement instead of multiple commands in the ops file.
---

- type: replace
  path: /name
  value: ((deployment_name))
  anchors:
    domains:
      postgres: &postgres_domain ((deployment_name)).autoscalerpostgres.service.cf.internal
      api: &api_domain ((deployment_name)).apiserver.service.cf.internal
      scheduler: &scheduler_domain ((deployment_name)).autoscalerscheduler.service.cf.internal
      servicebroker: &servicebroker_domain ((deployment_name)).servicebroker.service.cf.internal
      eventgenerator: &eventgenerator_domain ((deployment_name)).eventgenerator.service.cf.internal
      scalingengine: &scalingengine_domain ((deployment_name)).scalingengine.service.cf.internal
    public_domains:
      metricsforwarder: &metricsforwarder_public_domain ((deployment_name))metrics.((system_domain))
      metricsforwarder_mtls: &metricsforwarder_mtls_public_domain ((deployment_name))-metricsforwarder-mtls.((system_domain))
      servicebroker: &servicebroker_public_domain ((deployment_name))servicebroker.((system_domain))

# Addons
- type: replace
  path: /addons/name=bosh-dns-aliases/jobs/name=bosh-dns-aliases/properties
  value:
    aliases:
       - domain: *postgres_domain
         targets:
           - query: '*'
             instance_group: postgres_autoscaler
             deployment: ((deployment_name))
             network: default
             domain: bosh
       - domain: *api_domain
         targets:
           - query: '*'
             instance_group: asapi
             deployment: ((deployment_name))
             network: default
             domain: bosh
       - domain: *scheduler_domain
         targets:
           - query: '*'
             instance_group: asactors
             deployment: ((deployment_name))
             network: default
             domain: bosh
       - domain: *servicebroker_domain
         targets:
           - query: '*'
             instance_group: asapi
             deployment: ((deployment_name))
             network: default
             domain: bosh
       - domain: *eventgenerator_domain
         targets:
           - query: '*'
             instance_group: asmetrics
             deployment: ((deployment_name))
             network: default
             domain: bosh
       - domain: *scalingengine_domain
         targets:
           - query: '*'
             instance_group: asactors
             deployment: ((deployment_name))
             network: default
             domain: bosh
       # Cf internal names
       - domain: nats.service.cf.internal
         targets:
           - deployment: cf
             domain: bosh
             instance_group: nats
             network: default
             query: '*'
       - domain: reverse-log-proxy.service.cf.internal
         targets:
           - query: '*'
             instance_group: log-api
             deployment: cf
             network: default
             domain: bosh
       - domain: _.nats.service.cf.internal
         targets:
           - deployment: cf
             domain: bosh
             instance_group: nats
             network: default
             query: _
       - domain: logcache
         targets:
           - deployment: cf
             domain: bosh
             instance_group: log-cache
             network: default
             query: '*'
       - domain: log-cache.service.cf.internal
         targets:
           - deployment: cf
             domain: bosh
             instance_group: log-cache
             network: default
             query: '*'


# Set the name of the database so it does not use the default name
- type: replace
  path: /instance_groups/name=postgres_autoscaler/jobs/name=postgres/properties/databases/address?
  value: *postgres_domain

###########
# asactors - scalingengine
- type: replace
  path: /instance_groups/name=asactors/jobs/name=scalingengine/properties/autoscaler/scalingengine_db/address?
  value: *postgres_domain

- type: replace
  path: /instance_groups/name=asactors/jobs/name=scalingengine/properties/autoscaler/policy_db/address?
  value: *postgres_domain

- type: replace
  path: /instance_groups/name=asactors/jobs/name=scalingengine/properties/autoscaler/scheduler_db/address?
  value: *postgres_domain

###########
# asactors - scheduler
- type: replace
  path: /instance_groups/name=asactors/jobs/name=scheduler/properties/autoscaler/scheduler/scaling_engine/host?
  value: *scalingengine_domain

- type: replace
  path: /instance_groups/name=asactors/jobs/name=scheduler/properties/autoscaler/scheduler_db/address?
  value: *postgres_domain

- type: replace
  path: /instance_groups/name=asactors/jobs/name=scheduler/properties/autoscaler/policy_db/address?
  value: *postgres_domain

###########
# asactors - operator
- type: replace
  path: /instance_groups/name=asactors/jobs/name=operator/properties/autoscaler/policy_db/address?
  value: *postgres_domain

- type: replace
  path: /instance_groups/name=asactors/jobs/name=operator/properties/autoscaler/instancemetrics_db/address?
  value: *postgres_domain

- type: replace
  path: /instance_groups/name=asactors/jobs/name=operator/properties/autoscaler/appmetrics_db/address?
  value: *postgres_domain

- type: replace
  path: /instance_groups/name=asactors/jobs/name=operator/properties/autoscaler/scalingengine_db/address?
  value: *postgres_domain

- type: replace
  path: /instance_groups/name=asactors/jobs/name=operator/properties/autoscaler/operator/scaling_engine/host?
  value: *scalingengine_domain

- type: replace
  path: /instance_groups/name=asactors/jobs/name=operator/properties/autoscaler/scheduler.host?
  value: *scheduler_domain

- type: replace
  path: /instance_groups/name=asactors/jobs/name=operator/properties/autoscaler/lock_db/address?
  value: *postgres_domain


###########
# asmetrics - eventgenerator
- type: replace
  path: /instance_groups/name=asmetrics/jobs/name=eventgenerator/properties/autoscaler/eventgenerator/scaling_engine/host
  value:  *scalingengine_domain

- type: replace
  path: /instance_groups/name=asmetrics/jobs/name=eventgenerator/properties/autoscaler/appmetrics_db/address?
  value: *postgres_domain

- type: replace
  path: /instance_groups/name=asmetrics/jobs/name=eventgenerator/properties/autoscaler/policy_db/address?
  value: *postgres_domain

###########
# asapi - golangapiserver
- type: replace
  path: /instance_groups/name=asapi/jobs/name=golangapiserver/properties/autoscaler/binding_db/address?
  value: *postgres_domain

- type: replace
  path: /instance_groups/name=asapi/jobs/name=golangapiserver/properties/autoscaler/policy_db/address?
  value: *postgres_domain

- type: replace
  path: /instance_groups/name=asapi/jobs/name=golangapiserver/properties/autoscaler/apiserver/scheduler/host?
  value: *scheduler_domain

- type: replace
  path: /instance_groups/name=asapi/jobs/name=golangapiserver/properties/autoscaler/apiserver/scaling_engine/host?
  value: *scalingengine_domain

- type: replace
  path: /instance_groups/name=asapi/jobs/name=golangapiserver/properties/autoscaler/apiserver/event_generator/host?
  value: *eventgenerator_domain

- type: replace
  path: /instance_groups/name=asapi/jobs/name=golangapiserver/properties/autoscaler/apiserver/broker/server/catalog/services/id=autoscaler-guid/name
  value: ((deployment_name))

- type: replace
  path: /instance_groups/name=asapi/jobs/name=golangapiserver/properties/autoscaler/apiserver/metrics_forwarder/host?
  value: *metricsforwarder_public_domain

## values originally in instance-identity-cert-from-cf.yml
- type: replace
  path: /instance_groups/name=asapi/jobs/name=golangapiserver/properties/autoscaler/apiserver/metrics_forwarder/mtls_host?
  value: *metricsforwarder_mtls_public_domain

- type: replace
  path: /instance_groups/name=asapi/jobs/name=route_registrar/properties/route_registrar/routes/name=autoscaler_metrics_forwarder_mtls/uris
  value: [ *metricsforwarder_mtls_public_domain ]

###########
# asapi - metricsforwarder
- type: replace
  path: /instance_groups/name=asapi/jobs/name=metricsforwarder/properties/autoscaler/policy_db/address?
  value: *postgres_domain

# route_registrar external/Public dns entries
## asapi
- type: replace
  path: /instance_groups/name=asapi/jobs/name=route_registrar/properties/route_registrar/routes/name=api_server/uris
  value: [ ((deployment_name)).((system_domain)) ]

- type: replace
  path: /instance_groups/name=asapi/jobs/name=route_registrar/properties/route_registrar/routes/name=autoscaler_service_broker/uris
  value: [ *servicebroker_public_domain ]

- type: replace
  path: /instance_groups/name=asapi/jobs/name=route_registrar/properties/route_registrar/routes/name=autoscaler_metrics_forwarder/uris
  value: [ *metricsforwarder_public_domain ]

- type: replace
  path: /instance_groups/name=asapi/jobs/name=route_registrar/properties/route_registrar/routes/name=autoscaler_metricsforwarder_health/uris
  value: [ ((deployment_name))-metricsforwarder.((system_domain)) ]

## asmetrics

- type: replace
  path: /instance_groups/name=asmetrics/jobs/name=route_registrar/properties/route_registrar/routes/name=autoscaler_eventgenerator_health/uris
  value: [ ((deployment_name))-eventgenerator.((system_domain)) ]

## asactors

- type: replace
  path: /instance_groups/name=asactors/jobs/name=route_registrar/properties/route_registrar/routes/name=autoscaler_scalingengine_health/uris
  value: [ ((deployment_name))-scalingengine.((system_domain)) ]

- type: replace
  path: /instance_groups/name=asactors/jobs/name=route_registrar/properties/route_registrar/routes/name=autoscaler_operator_health/uris
  value: [ ((deployment_name))-operator.((system_domain)) ]

- type: replace
  path: /instance_groups/name=asactors/jobs/name=route_registrar/properties/route_registrar/routes/name=autoscaler_scheduler_health/uris
  value: [ ((deployment_name))-scheduler.((system_domain)) ]


# variables
# - scalingengine_server
- type: replace
  path: /variables/name=scalingengine_server/options/common_name
  value: *scalingengine_domain
- type: replace
  path: /variables/name=scalingengine_server/options/alternative_names
  value: [*scalingengine_domain]

#  - eventgenerator_server
- type: replace
  path: /variables/name=eventgenerator_server/options/common_name
  value: *eventgenerator_domain
- type: replace
  path: /variables/name=eventgenerator_server/options/alternative_names
  value: [*eventgenerator_domain]

# - apiserver_server
- type: replace
  path: /variables/name=apiserver_server/options/common_name
  value: *api_domain
- type: replace
  path: /variables/name=apiserver_server/options/alternative_names
  value: [*api_domain]

# - servicebroker_server
- type: replace
  path: /variables/name=servicebroker_server/options/common_name
  value: *servicebroker_domain
- type: replace
  path: /variables/name=servicebroker_server/options/alternative_names
  value: [*servicebroker_domain]

# - servicebroker_server
- type: replace
  path: /variables/name=servicebroker_server/options/common_name
  value: *servicebroker_domain
- type: replace
  path: /variables/name=servicebroker_server/options/alternative_names
  value: [*servicebroker_domain]

# - scheduler_server
- type: replace
  path: /variables/name=scheduler_server/options/common_name
  value: *scheduler_domain
- type: replace
  path: /variables/name=scheduler_server/options/alternative_names
  value: [*scheduler_domain]

# - postgres_server
- type: replace
  path: /variables/name=postgres_server/options/common_name
  value: *postgres_domain
- type: replace
  path: /variables/name=postgres_server/options/alternative_names
  value: [*postgres_domain]


