---
platform: linux

image_resource:
  type: registry-image
  source:
    repository: ghcr.io/cloudfoundry/app-autoscaler-release-tools
    tag: main

params:
  AUTOSCALER_DIR: app-autoscaler-release

inputs:
- name: app-autoscaler-release
- name: bbl-state

outputs:

run:
  path: app-autoscaler-release/ci/autoscaler/scripts/cleanup-autoscaler.sh
