---
platform: linux

image_resource:
  type: registry-image
  source:
    repository: ghcr.io/cloudfoundry/app-autoscaler-release-tools
    tag: main

params:
  # Optional: override the user to access bosh
  BOSH_USERNAME: admin

  # Optional: relative to the root of the release input. The files will be
  # checked to see if they exist, if not they will be excluded from the list
  OPS_FILES: |
    example/operation/loggregator-certs-from-cf.yml
    example/operation/postgres-persistent-disk.yml


inputs:
- name: app-autoscaler-release
- name: ci
- name: bbl-state
- name: previous-stable-release
- name: ci

outputs:

run:
  path: ci/ci/autoscaler/scripts/deploy-previous-autoscaler.sh
