---
platform: linux

image_resource:
  type: registry-image
  source:
    repository: docker.io/bonzofenix/app-autoscaler-release-tools
    tag: main


params:
  # Optional: override the user to access bosh
  BOSH_USERNAME: admin

  AUTOSCALER_DIR: app-autoscaler-release

inputs:
- name: app-autoscaler-release
- name: ci
- name: bbl-state

outputs:

run:
  path: ci/ci/autoscaler/scripts/deploy-apps.sh
