---
platform: linux

params:
  # The GCP key to use to configure the generated private.yml
  UPLOADER_KEY:

  # The github token to query the api to generate release notes
  GITHUB_TOKEN:

  # the name of the ci-bot
  AUTOSCALER_CI_BOT_NAME:

  # the email of the ci-bot
  AUTOSCALER_CI_BOT_EMAIL:

  # the private part of the signing key from the ci-bot
  AUTOSCALER_CI_BOT_SIGNING_KEY_PRIVATE:

  # the public part of the signing key from the ci-bot
  AUTOSCALER_CI_BOT_SIGNING_KEY_PUBLIC:

  # the SSH key for GitHub authentication (push access)
  AUTOSCALER_CI_BOT_SSH_KEY:

  # if set to false, the bosh release will be skipped and only the changelog & next version generated
  PERFORM_BOSH_RELEASE: true
  CI: true

  # name of the updated repo to be pushed at the end
  REPO_OUT: pushme
  ROOT_DIR: app-autoscaler-release
  AUTOSCALER_DIR: app-autoscaler-release

inputs:
- name: app-autoscaler-release
- name: ci

outputs:
- name: build
- name: app-autoscaler-release

run:
  path: ci/ci/autoscaler/scripts/release-autoscaler.sh
