---
platform: linux

image_resource:
  type: docker-image
  source: 
    repository: ghcr.io/cloudfoundry/app-autoscaler-ci-deploy
    tag: master

params:

inputs:
- name: app-autoscaler-release
- name: app-autoscaler-ci

outputs:
- name: release

run:
  path: app-autoscaler-ci/autoscaler/scripts/release-autoscaler.sh
