---
platform: linux

image_resource:
  type: docker-image
  source: 
    repository: ghcr.io/cloudfoundry/app-autoscaler-release-deploy
    tag: main

params:
  # The GCP key to use to configure the generated private.yml
  UPLOADER_KEY:

  # The github token to query the api to generate release notes
  GITHUB_TOKEN:

  # if set to false, the bosh release will be skipped and only the changelog & next version generated
  PERFORM_BOSH_RELEASE: true

  # name of the updated repo to be pushed at the end
  REPO_OUT: pushme

inputs:
- name: app-autoscaler-release
- name: gh-release

outputs:
- name: build
- name: pushme

run:
  path: app-autoscaler-release/ci/autoscaler/scripts/release-autoscaler.sh
