---
platform: linux

params:
  NODES: 3
inputs:
- name: app-autoscaler-release
- name: bbl-state

outputs:

run:
  path: make
  args:
    - --directory=app-autoscaler-release/src/autoscaler
    - acceptance-tests
