name: Acceptance Tests - BOSH release
on:
  pull_request_target:
    types: [ opened, synchronize, labeled ]

concurrency:
  group: "${{ github.workflow }}/${{ github.ref }}"
  cancel-in-progress: true

jobs:
  acceptance_tests_reusable:
    name: "${{ github.workflow }}"
    uses: ./.github/workflows/acceptance_tests_reusable.yaml
    with:
      deployment_name: "autoscaler-${{ github.event.pull_request.number }}"
      git_ref: "${{ github.event.pull_request.head.sha }}"
    secrets:
      bbl_ssh_key: "${{ secrets.BBL_SSH_KEY }}"
