name: Acceptance Tests (Broker)
on:
  pull_request:
    types: [ opened, labeled, synchronize ]
env:
  MAVEN_VERSION: 3.6.3
  MAVEN_SHA: c35a1803a6e70a126e80b2b3ae33eed961f83ed74d18fcd16909b2d44d7dada3203f1ffe726c17ef8dcca2dcaa9fca676987befeadc9b9f759967a8cb77181c0
  BUILDIN_MODE: false
  SERVICE_OFFERING_ENABLED: true
  PR_NUMBER: "${{ github.event.pull_request.number }}"
  DEPLOYMENT_NAME: "autoscaler-${{ github.event.pull_request.number }}"
  SERVICE_BROKER_NAME: "autoscaler-${{ github.event.pull_request.number }}servicebroker"
  SERVICE_NAME: "autoscaler-${{ github.event.pull_request.number }}"
  BBL_STATE_PATH: "${{ github.workspace }}/bbl/bbl-state"
  NAME_PREFIX: "autoscaler-${{ github.event.pull_request.number }}-TESTS"
  GINKGO_OPTS: "--fail-fast"
  NODES: 3
  AUTOSCALER_DIR: "${{ github.workspace }}/app-autoscaler-release"
  CI_DIR: "${{ github.workspace }}/app-autoscaler-release/ci"

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  deploy_autoscaler:
    # Determine if we require jobs for Acceptance Tests in this workflow by checking relevant events and labels.
    # Verifcation job runs always.
    if: |
      ( ( github.event.action == 'opened' || github.event.action == 'synchronize' )
          && ( contains(github.event.pull_request.labels.*.name, 'allow-acceptance-tests') || contains(github.event.pull_request.labels.*.name, 'dependencies') )
      ) ||
      (  ( github.event.action == 'labeled' )
          && ( github.event.label.name == 'allow-acceptance-tests' ||  github.event.label.name == 'dependencies' )
      )
    name: Deploy autoscaler
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          path: app-autoscaler-release
      - uses: ./app-autoscaler-release/.github/actions/setup_environment
        with:
          ssh-key: ${{ secrets.BBL_SSH_KEY}}
      - name: Deploy autoscaler
        run: |
          cd ${AUTOSCALER_DIR}
          make deployment

  acceptance_tests:
    needs: [ deploy_autoscaler ]
    strategy:
      matrix:
        suite: [ API, APP, BROKER ]
    runs-on: ubuntu-latest
    name: ${{ matrix.suite }} test
    steps:
      - uses: actions/checkout@v3
        with:
          path: app-autoscaler-release
      - uses: ./app-autoscaler-release/.github/actions/setup_environment
        with:
          ssh-key: ${{ secrets.BBL_SSH_KEY}}
      - name: run acceptance test - ${{ matrix.suite }}
        env:
          MATRIX_SUITE: ${{ matrix.suite }}
        run: |
          cd ${AUTOSCALER_DIR}
          make acceptance-tests SUITES="${MATRIX_SUITE,,}"

  acceptance_tests_verify:
    needs: [ deploy_autoscaler, acceptance_tests ]
    if: ${{ always() }}
    name: Acceptance Tests Result (Buildin)
    runs-on: ubuntu-latest
    steps:
      - uses: technote-space/workflow-conclusion-action@v3
      - name: Conclude workflow run
        run: if [ ${WORKFLOW_CONCLUSION} != 'success' ]; then exit 1; fi

  deployment_cleanup:
    needs: [ acceptance_tests ]
    name: Deployment cleanup
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          path: app-autoscaler-release
      - uses: ./app-autoscaler-release/.github/actions/setup_environment
        with:
          ssh-key: ${{ secrets.BBL_SSH_KEY}}
      - run: |
          cd ${AUTOSCALER_DIR}
          make deployment-cleanup
