name: Acceptance Tests
on:
  pull_request:
    types: [ closed ]
env:
  MAVEN_VERSION: 3.6.3
  MAVEN_SHA: c35a1803a6e70a126e80b2b3ae33eed961f83ed74d18fcd16909b2d44d7dada3203f1ffe726c17ef8dcca2dcaa9fca676987befeadc9b9f759967a8cb77181c0
  DEPLOYMENT_NAME: "app-autoscaler-${{ github.event.pull_request.number }}"
  SERVICE_BROKER_NAME: "app-autoscaler-${{ github.event.pull_request.number }}servicebroker"
  SERVICE_NAME: "autoscaler-${{ github.event.pull_request.number }}"
  BBL_STATE_PATH: "${{ github.workspace }}/bbl/bbl-state"
  SYSTEM_DOMAIN: "autoscaler.ci.cloudfoundry.org"
  SERVICE_OFFERING_ENABLED: true
  SKIP_SSL_VALIDATION: true
  NAME_PREFIX: "app-autoscaler-${{ github.event.pull_request.number }}-TESTS"
  NODES: 3
  AUTOSCALER_DIR: "${{ github.workspace }}/app-autoscaler-release"
  CI_DIR: "${{ github.workspace }}/ci"

jobs:
  deployment_cleanup:
    name: Cleanup deployments
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          path: app-autoscaler-release
          ref: main
      - uses: ./app-autoscaler-release/.github/actions/acceptance_tests_common
        with:
          ssh-key: ${{ secrets.BBL_SSH_KEY }}

      - run: "${CI_DIR}/autoscaler/scripts/cleanup-autoscaler.sh"