name: Acceptance Tests Cleanup (MTA)
on:
  pull_request:
    types: [closed]
env:
  PR_NUMBER: "${{ github.event.pull_request.number }}"
  DEPLOYMENT_NAME: "autoscaler-mta-${{ github.event.pull_request.number }}"

jobs:
  deployment_cleanup:
    name: Cleanup deployments
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/cloudfoundry/app-autoscaler-release-tools:main@sha256:aed5f7cc4b22337f1bebaada709d42f36bf393b033d991209738efb86111082b
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
        with:
          path: app-autoscaler-release
          ref: main

      - uses: ./app-autoscaler-release/.github/actions/setup-environment
        with:
          ssh-key: ${{ secrets.BBL_SSH_KEY }}

      - name: "clean up"
        shell: bash
        run: |
          #! /usr/bin/env bash
          set -eu -o pipefail

          # The subsequent assignments are needed *HERE* because of:
          # <https://github.com/actions/runner/issues/2058> or
          # <https://github.com/actions/checkout/issues/785>
          export BBL_STATE_PATH="${GITHUB_WORKSPACE}/bbl/bbl-state"
          declare -r AUTOSCALER_DIR="${GITHUB_WORKSPACE}/app-autoscaler-release"

          make --directory="${AUTOSCALER_DIR}" deploy-cleanup
