name: Acceptance Tests - Broker
on:
  pull_request:
    types: [ opened, labeled, synchronize ]
concurrency:
  group: acceptance_broker-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  acceptance_tests_reusable:
    name: " " # Whitespace name looks nicest on Github UI
    uses: ./.github/workflows/acceptance_tests_reusable.yaml
    with:
      suites: "[ 'API', 'APP', 'Broker' ]"
    secrets:
      bbl_ssh_key: "${{ secrets.BBL_SSH_KEY }}"
