name: Acceptance Tests - Buildin
on:
  pull_request:
    types: [ opened, labeled, synchronize ]
    paths:
     - 'src/acceptance/**'

concurrency:
  group: "${{ github.workflow }}/${{ github.ref }}"
  cancel-in-progress: true

jobs:
  acceptance_tests_reusable:
    name: " " # Whitespace name looks nicest on Github UI
    uses: ./.github/workflows/acceptance_tests_reusable.yaml
    with:
      suites: "[ 'APP' ]"
      buildin_mode: true
      service_offering_enabled: false
      deployment_name: "autoscaler-buildin-${{ github.event.pull_request.number }}"
    secrets:
      bbl_ssh_key: "${{ secrets.BBL_SSH_KEY }}"
