name: Bosh Templates Test

concurrency:
  group: "${{ github.workflow }}/${{ github.ref }}"
  cancel-in-progress: true

on:
  pull_request:
  workflow_dispatch:
jobs:
  templates:
    name: Bosh Templates Test
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/cloudfoundry/app-autoscaler-release-tools:main
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        env:
          # Needed for self-hosted runner
          ImageOS: "ubuntu24"
        with:
          # runs 'bundle install' and caches installed gems automatically
          bundler-cache: true

      - name: Run Tests
        run: |
          set -e
          make spec-test
