---
name: Build with Mysql

on:
  pull_request:
  workflow_dispatch:

concurrency:
  group: "${{ github.workflow }}/${{ github.ref }}"
  cancel-in-progress: true

jobs:
  build:
    strategy:
      matrix:
        mysql: [8]
        suite: [test, integration]
    env:
      DB_DATABASE: autoscaler
      DB_USER: root
      DB_PASSWORD: root
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/cloudfoundry/app-autoscaler-release-tools:main@sha256:01209e44024cd83445d3f1c7aa7a1692f06ad92b94fb67ca1cd62b7b5ab51c43
    continue-on-error: true
    name: Build suite=${{ matrix.suite }}, mysql=${{ matrix.mysql }}
    services:
      mysql:
        image: mysql:${{ matrix.mysql }}
        env:
          MYSQL_ALLOW_EMPTY_PASSWORD: true
          MYSQL_DATABASE: autoscaler
        ports:
          - 3306:3306
        options: --health-cmd="mysqladmin ping" --health-interval=10s --health-timeout=5s --health-retries=3


    steps:
      - name: Trust my checkout
        run: git config --global --add safe.directory "${GITHUB_WORKSPACE}"

      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
      - name: make build
        run: |
          make generate-openapi-generated-clients-and-servers
          make build db_type=mysql

      - name: make ${{ matrix.suite }}
        env:
          DB_HOST: mysql
        run: |
          make ${{ matrix.suite }} db_type=mysql DB_HOST="${DB_HOST}"
